.widget-component {
    width: 300px;
    height: 325px;

    background-color: var(--widget-grey);

    border: 1px solid grey;
    border-radius: 10px;

    transition: all 0.15s linear;
}

.widget-component:hover {
    transform-origin: 0% 100%;
    transform: rotate(-3deg);
}

.widgetComponentImage-container{
    height: 50%;
}

.widgetComponent-image {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));

    border-top-left-radius: 8.5px;
    border-top-right-radius: 8.5px;

    width: stretch;
    height: fit-content;
}

.widgetComponentText-container{
    height: 50%;
    width: stretch;
    padding: 20px 10px;
}

.widgetComponent-header {
    font-weight: 400;
    font-size: 20px;
    margin: 3px;
}

.widgetComponent-desc {
    font-weight: 300;
    margin: 2px;
    text-align: left;
}
