.widget-component {
    width: 300px;
    height: 325px;

    background-color: var(--widget-grey);

    border: 1px solid grey;
    border-radius: 10px;

    transition: all 0.15s linear;
}

.widget-component:hover {
    transform-origin: 0% 100%;
    transform: rotate(-3deg);
}

.widgetComponentImage-container{
    height: 50%;
}

.widgetComponent-image {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));

    border-top-left-radius: 8.5px;
    border-top-right-radius: 8.5px;

    width: stretch;
    height: fit-content;
}

.widgetComponentText-container{
    height: 50%;
    width: stretch;
    padding: 20px 10px;
}

.widgetComponent-header {
    font-weight: 400;
    font-size: 20px;
    margin: 3px;
}

.widgetComponent-desc {
    font-weight: 300;
    margin: 2px;
    text-align: left;
}

.widgetComponent-difficulty{
    font-size: 13px;
    font-weight: 500;
    padding: 2px 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 10px 0;
}

.widgetComponentDifficulty-beginner{
    color: #38a169;
    background-color: rgba(56,161,105,.1);
}

.widgetComponentDifficulty-intermediate{
    color: #0ea5e9;
    background-color: rgba(14,165,233,.1);
}

.widgetComponentDifficulty-advance{
    color: #dc2626;
    background-color: rgba(220,38,38,.1);
}

