.alert-container{
    height: 100px;
}

.alert-title{
    font-size: 20px;
    margin: 15px 0;
}

.alert-message{
    font-size: 18px;
    margin-bottom: 15px;
}

.alertIcon-container{
    margin: 15px 10px 10px 10px;
}

/* Error */

.errorAlert-container{
    background-color: #FDEDED;
}

.error-title{
    color: #780000;
}

.error-message{
    color: #780000;
}

/* Success */

.successAlert-container{
    background-color: #EDF7ED;
}

.success-title{
    color: #006c0b;
}

.success-message{
    color: #006c0b;
}

/* Info */

.infoAlert-container{
    background-color: #E5F6FD;
}

.info-title{
    color: #006dd4;
}

.info-message{
    color: #006dd4;
}