:root {
  --primary-color: #4285F4;
  --secondary-color: #A0C3FF;
  --light-text: white;
  --dark-text: #2E3532;
  --error-text: #de0700;
  --pass-color: #95ed95;
  --fail-color: #f76464;
  --widget-grey: rgb(251, 251, 251);
  --font-family: "'Poppins', sans-serif"
}

input[type="radio"] {
  transform: scale(1.25) translateY(-1px);
}

body {
  margin: 0;
  background-color: whitesmoke;
}

p, a, h1, h2, h3, h4, h5, pre, ul, button, table{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none !important;
  color: black;
}

td, th{
  padding: 10px 3px;
  text-align: center;
}

ul{
  text-align: center;
}

li{
  list-style-type: none;
}

code {
  white-space: pre;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.center-content{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.complete-center {
  margin: auto;
}

.center-text{
  text-align: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.page-margin {
  margin: 80px auto;
}

.fit-content {
  max-width: fit-content;
}

.hoverElement:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.bold{
  font-weight: 600;
}

.disabled{
  pointer-events: none;
  opacity: 0.7;
}

@media screen and (max-width: 600px){
  .subtitle{
    font-size: 7vw !important;
  }

  .color-text{
    font-size: 3vw;
  }

  .widget-title{
    font-size: 4vw;
  }

  .paragraph{
    font-size: 4vw !important;
    margin: 0 10px;
  }
}