.catalogLandingPageQandA-container{
    width: 70vw;
    margin: auto auto 100px auto;
}

.catalogLandingPageQandA-icon{
    font-size: 32px;
}

.catalogLandingPageQandAIcon-container{

}

.catalogLandingPageQandA-tip{
    font-size: 18px;
}

.catalogLandingPageQandATip-container{
    margin: 5px 0;
}

.catalogLandingPageQandA-title{
    margin-bottom: 20px;
}

.catalogLandingPageQandATitle-container{
    margin-bottom: 7px;
}